


body {
    font-family: 'Oswald', sans-serif !important;
}
.inline-format {
    display: block
}
.width10Th{    
  width: 10%; 
}
.width60Th{
    width:60%; 
}
.float_right{    
  float:right;
}   
span.float_right{
  float:right;
}



textarea {
  height: 10em;
  width: 50em;
}

#commend_edit_textarea{
  width:100%;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

form.form-inline {
  display: inline-block
}


a {
  text-decoration: "none";
}

#commentParentText{
  width:100%; 
}  

/* Like button */
.likeBtn .heart-shape {
  display: inline;
  color: red;
}
.likeBtn {
  border: none;
  background-color: inherit;
}