<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699324523158-7uebtp9lll26c43fhl7p4q2o81eeoi3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699324523158-7uebtp9lll26c43fhl7p4q2o81eeoi3r</string>
	<key>API_KEY</key>
	<string>AIzaSyBb2X4L23yXA1xq1zjf8a-1LcsNfmgV91A</string>
	<key>GCM_SENDER_ID</key>
	<string>699324523158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fl22cse438.SafetyMeter</string>
	<key>PROJECT_ID</key>
	<string>safteyme-8d4db</string>
	<key>STORAGE_BUCKET</key>
	<string>safteyme-8d4db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699324523158:ios:7329a86431a2c6ec1498b7</string>
</dict>
</plist>